@import "../../styles/_variables";

.product__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-bottom: 30px;
  @media (max-width: $screen-sm-max) {
    margin-left: 0;
    margin-right: 0;
  }
}