// Font
$global-font: Arial, sans-serif;

// Color
$base-font-color: #000;
$border-color: #e1e1e1;
$header-bg: #def1f4;
$tag-sales-bg: #cc3333;
$tag-exclusive-bg: #009900;
$tag-text-color: #fff;

// Responsive screen size
$screen-xs-max: 479px;
$screen-xs: 480px;
$screen-sm-max: 767px;
$screen-sm: 768px;
$screen-md-max: 991px;
$screen-md: 992px;
$screen-lg-max: 1199px;
$screen-lg: 1200px;