@import "_variables";

body {
  font-family: $global-font;
  font-size: 14px;
  line-height: 1.2;
  color: $base-font-color;
  @media screen and (min-width: $screen-md) {
    font-size: 16px;
  }
}

.product__list-header {
  background-color: $header-bg;
}

.filter {
  margin-top: 15px;
}

.product__category {
  margin-top: 15px;
  font-size: 26px;
  @media screen and (min-width: $screen-sm) {
    font-size: 30px;
  }
  @media screen and (min-width: $screen-md) {
    font-size: 36px;
  }
}
