@import "../../styles/_variables";

.product__tile {
  float: none;
  border: 1px solid $border-color;
  padding: 20px 10px;
  margin-right: -1px;
  margin-bottom: -1px;
  display: flex;
  flex-direction: column;
  @media screen and (max-width: $screen-sm-max) {
    width: 100%;
  }
  @media screen and (min-width: $screen-lg) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.product__offer {
  margin-bottom: 18px;
  @media screen and (min-width: $screen-sm) {
    min-height: 45px;
  }
}

.offer {
  span {
    display: inline-block;
    padding: 15px 24px;
    color: $tag-text-color;
  }
  &.offer--sale {
    span {
      background: $tag-sales-bg;
    }
  }
  &.offer--exclusive {
    span {
      background: $tag-exclusive-bg;
      padding: 15px 40px;
    }
  }
}

.product__image {
  img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}

.product__info {
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
    display: flex; 
    align-items: flex-end;
    margin-top: auto;
  }
  @media screen and (min-width: $screen-lg) {
    display: flex; 
    align-items: flex-end;
    margin-top: auto;
  }
}

.product__name {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
    width: 60%;
    margin: 0;
  }
  @media screen and (min-width: $screen-lg) {
    width: 60%;
    font-size: 24px;
    margin-bottom: 0;
    padding-right: 10px;
    margin-top: auto;
  }
}

.product__price {
  font-weight: bold;
  text-align: right;
  font-size: 30px;
  @media screen and (min-width: $screen-sm) and (max-width: $screen-md-max) {
    width: 40%;
  }
  @media screen and (min-width: $screen-lg) {
    font-size:  36px;
    width: 40%;
  }
}